## üó∫Ô∏è map() Function in Python

The `map()` function is a built-in Python function that allows you to process and transform all the items in an iterable (like a list or tuple) without using an explicit loop.

---

### üîç What Does `map()` Do?

It applies a specified function to every item of an iterable and returns a `map` object (which can be converted into a list, set, tuple, etc.).

üìå Syntax:
```python
map(function, iterable)
````

* `function`: A function (can be built-in, user-defined, or lambda).
* `iterable`: A sequence (like a list, tuple, etc.).

---

### üß† Key Features:

* Clean and readable.
* Avoids writing loops explicitly.
* Often used with lambda functions.

---

### ‚úÖ Example:

```python
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # Output: [1, 4, 9, 16]
```

---

### üõ†Ô∏è Common Use Cases:

* Converting data (e.g., strings to integers).
* Applying mathematical operations.
* Processing data in functional style.

---

### üß± Output Type:

The result of `map()` is a special map object. To get the result as a list, wrap it with `list()`, `set()`, or `tuple()`.

```python
list(map(...))   # To get a list
set(map(...))    # To get a set
```

---

Ready to dive into examples and practice questions? üí°

```

In [1]:
def square(x):
    return x*x
square(24)

576

In [ ]:
numbers = [1,2,3,4,5,6,7,89]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 7921]

In [ ]:
## lambda with map
numbers = [1,2,3,4,5,6,7,89]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 7921]

In [7]:
# map multiple iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers=list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [8]:
# map() to convert a list of strings to integers
# use map to convert strings to integers
str_numbers = ["1","2","3","4","5"]
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [9]:
words= ['apple','banana','cherry']
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
    return person['name']

people=[
    {'name':'Anmol','age':32},
    {'name':'jon','age':32}
]
list(map(get_name, people))

['Anmol', 'jon']