## üß† Variables in Python

Variables are containers for storing data values. In Python, you don‚Äôt need to declare the type of variable explicitly ‚Äî it‚Äôs dynamically typed.

### ‚úÖ Key Concepts:

- Variables are created the moment you assign a value.
- The equal sign (=) is used to assign values.
- Variable names should be meaningful and follow naming conventions.

### üìå Syntax:
#### Assigning values :
```python

In [3]:
name = "Anmol"
age = 23
pi = 3.14159
is_active = True

## printing variables
print("name :", name)
print("age :", age)
print("pi :", pi)
print("is_active :", is_active)

name : Anmol
age : 23
pi : 3.14159
is_active : True

## üìù Python Variable Naming Rules

When naming variables in Python, follow these best practices and rules to ensure clarity and avoid syntax errors:

### ‚úÖ Basic Rules

1. üî§ Variable names must start with a letter (A‚ÄìZ or a‚Äìz) or an underscore `_`.
   - Examples: `name`, `_count`

2. üî¢ Variable names cannot start with a digit.
   - ‚ùå Invalid: `2name = "John"`

3. üî° Variable names can contain letters, digits, and underscores.
   - Valid: `student_name`, `age2`, `user_id`

4. üö´ You cannot use Python reserved keywords as variable names.
   - ‚ùå Invalid: `for = 5`, `class = "Math"`

5. üî† Variable names are case-sensitive.
   - `Name` and `name` are considered different variables.

6. ‚ö†Ô∏è No spaces allowed in variable names. Use underscores `_` instead.
   - ‚ùå Invalid: `student name = "Alice"`
   - ‚úÖ Correct: `student_name = "Alice"`

### üí° Best Practices

- Use lowercase letters with underscores (snake_case) for better readability.
- Choose meaningful names that describe the value or purpose.
  - ‚ùå Avoid: `x = 5`
  - ‚úÖ Prefer: `score = 5`

---

üß™ Example:

```python
# Valid variable names
user_name = "Anmol"
age = 30
_total_score = 95.5

### üß™ Example:

In [1]:
# Valid variable declarations
company = "OpenAI"
years_of_experience = 5
_salary = 75000.50

### ‚ö†Ô∏è Common Mistakes:

In [2]:
2cool = "no"       # ‚ùå Invalid: Starts with a number
my variable = 10   # ‚ùå Invalid: Contains space
class = "Math"     # ‚ùå Invalid: 'class' is a keyword

SyntaxError: invalid decimal literal (3107304663.py, line 1)

### üí° Pro Tip:
Use lowercase letters with underscores (snake_case) for variable names to follow Pythonic conventions.

### üîó Explore more:
[PEP8 Variable Naming Guide](https://peps.python.org/pep-0008/#naming-conventions)

In [4]:
## Variables types
## python is dynamically typed
age = 25 # integer
height=6.1 # float
is_student=True # boolean
name="John" # string

print(type(age)) # <class 'int'>

<class 'int'>

In [5]:
## Type checking and conversion
print(type(age)) # <class 'int'>

<class 'int'>

In [7]:
age = 25 
print(type(age))

# Type conversion 
age_str=str(age) 
print(type(age_str)) # <class 'str'>

<class 'int'>
<class 'str'>

In [9]:
age='25'
age_int=int(age)
print(type(age_int)) # <class 'int'>

<class 'int'>

In [10]:
name = "John"
int(name) # ‚ùå Invalid: Cannot convert string to int

ValueError: invalid literal for int() with base 10: 'John'

In [11]:
heigt=5.11
type(heigt) # <class 'float'>

float

In [14]:
age = 25
age_str = str(age) # Convert int to string
print(type(age_str)) # <class 'str'>

<class 'str'>

In [15]:
## Dynamic Typing
## Python allows the type of a variable to change as the progrm executes 
age = 25
print(type(age)) # <class 'int'>
age = "twenty-five"
print(type(age)) # <class 'str'>
age = 25
print(type(age)) # <class 'int'>

<class 'int'>
<class 'str'>
<class 'int'>

In [19]:
## Input 
age = int(input("What is your age? "))
print(age, type(age))

25 <class 'int'>

In [20]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", diff)
print("Product:", product)
print("Quotient:", quotient)

Sum: 10.0
Difference: 0.0
Product: 25.0
Quotient: 1.0